<div class="container">
<br>
    <button class="btn btn-primary"  data-toggle="modal" data-target="#addNewItinerary">Adicionar novo itinerário</button><br>

    <br>
    <h3>Itinerários cadastrados: {{itineraryList.length}} </h3>
    <table id="itinerary" class="table table-bordered table-striped table-hover">
        <thread>
        <tr>
          <th scope="col">Fonte</th>
          <th scope="col">Origem 🛫</th>
          <th scope="col">Destino 🛬</th>
            <th scope="col">Duração</th>
            <th scope="col">Menor preço (por PAX)</th>
            <th scope="col">Ações</th>
        </tr>
    </thread>
    <tbody>
        {{#if itineraryList}}
          {{#itineraryList}}
            <tr {{#if price}} onClick="window.location='/itinerary/{{id}}'" class="cursor-pointer" {{/if}}>
              <td><strong>{{source}}</strong></td>
              <td><strong>{{origin}}</strong></td>
              <td><strong>{{destination}}</strong></td>
              <td><strong>{{nights}}</strong> noite(s)</td>
              <td>{{#if price}}<strong>{{price}}</strong> em {{price_date}}{{else}}Em coleta ou nenhum voo encontrado{{/if}}</td>
              <td>
                {{#if disabled}}
                <button class="btn btn-success btn-itinerary-enable" data-id="{{_id}}">Ativar</button>
                {{else}}
                <button class="btn btn-danger btn-itinerary-disable" data-id="{{_id}}">Desativar</button>
                {{/if}}
              </td>
            </tr>
          {{/itineraryList}}
        {{else}}
        <tr><td colspan="5">Nenhum itinerário cadastrado.</td></tr>
        {{/if}}
    </tbody>
    </table>
</div>



<div class="modal" id="addNewItinerary" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Adicionar novo itinerário na monitoria</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><select name="frm_origin"><option disabled="true" selected="true">Aeroporto de origem</option>
            {{#airports}}
                <option value="{{iataicao}}">{{iataicao}} - {{city}}</option>
            {{/airports}}
          </select></p>
          <p><select name="frm_destination"><option disabled="true" selected="true">Aeroporto de destino</option>
            {{#airports}}
                <option value="{{iataicao}}">{{iataicao}} - {{city}}</option>
            {{/airports}}
          </select></p>
          <p>Número de noites:<br><input type="number" min="1" name="frm_nights" placeholder="Exemplo: 3, 5, 7, 12"></p>
          <p>Fonte de pesquisa:<br>
            <select name="frm_source">
              {{#sources}}
              <option value="{{this}}" {{#if @first}}selected{{/if}}>{{this}}{{#if @first}} (recomendado){{/if}}</option>
              {{/sources}}
            </select>

          <p>Atenção: Ao adicionar um novo itinerário, sera iniciado um processo de busca de preços por 300 dias para o itinerário escolhido usando 2 pessoas como configuração padrão. Esse é um processo demorado (pelo menos 3 horas para terminar um itinerário) Caso o itinerário não seja mais necessário, desative o processo. </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnAddIninerary">Enviar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

